@using BlazorApp.State;
@using BlazorApp.ViewModel;
@using BlazorApp.Core.Model;
@using BlazorApp.Service;
@using BlazorApp3.Client.Pages;
@inject DialogService DialogService;

<div @ref="SurfaceRef"
     id="SurfaceId"
     class="interaction-surface"
     style="
        --cell-width: @(CurrentSection.WidthPerCell)px;
        --cell-height: @(CurrentSection.HeightPerCell)px;
        --columns: @(CurrentSection.ColumnNumber);
        --rows: @(CurrentSection.RowNumber);
        user-select:none;"
     @onmousedown="OnMouseDown"
     @onmousemove="OnMouseMove"
     @onmouseup="OnMouseUp"
     @oncontextmenu="OnTextContextMenu"
     @oncontextmenu:preventDefault="true">

    <div class="interactive-buttons">
        <ShapeTemplatPanel OnSelected="HandleShapeSelected" />
@*     </div>

    <div class="interactive-buttons" @onmousedown:stopPropagation> *@
        <button class="button small undo" title="巻き戻しctrl+Z"
                @onmousedown="() => UndoManager.Undo()" disabled="@(!UndoManager.CanUndo)">
            <i class="fas fa-undo"></i>
        </button>

        <button class="button small redo" title="やり直しctrl+shift+Z"
                @onmousedown="() => UndoManager.Redo()" disabled="@(!UndoManager.CanRedo)">
            <i class="fas fa-redo"></i>
        </button>
        <button class="button" @onclick="() => CancelLayoutSelectionAll()">
            選択解除
        </button>
        <button class="button" @onclick="() => OnSave.InvokeAsync()">
            Save
        </button>
    </div>

    <ScrollArea SurfaceRef="SurfaceRef" CssClass="grid-frame">

        <div class="grid-wrapper"
             style="
                width: calc(var(--columns) * var(--cell-width));
                height: calc(var(--rows) * var(--cell-height));
                background-image:
                  repeating-linear-gradient(to right, #ccc 0px, #ccc 1px, transparent 1px, transparent var(--cell-width)),
                  repeating-linear-gradient(to bottom, #ccc 0px, #ccc 1px, transparent 1px, transparent var(--cell-height));
                background-size: var(--cell-width) var(--cell-height);
                box-sizing: border-box;
                pointer-events: none;">
        </div>


        @foreach (var layout in VisibleLayouts)
        {
            <DynamicComponent Type="layout.GetViewComponentType()"
                              Parameters="@(new Dictionary<string, object>
                              {
                                  ["Model"] = layout,
                                  ["SurfaceId"] = "SurfaceId",
                                  ["WidthPerGrid"] = CurrentSection.WidthPerCell,
                                  ["HeightPerGrid"] = CurrentSection.HeightPerCell,
                              })" />
        }

        @foreach (var cell in TrailCells.ToList())
        {
            <div class="trail-effect"
                 style="left:@($"{cell.gridX * CurrentSection.WidthPerCell}px");
                    top:@($"{cell.gridY * CurrentSection.HeightPerCell}px");
                    position: absolute;
                    width:@($"{CurrentSection.WidthPerCell}px");
                    height:@($"{CurrentSection.HeightPerCell}px");">
            </div>
        }
    </ScrollArea>

    @if (SelectionRect != null && Mode == InteractionMode.Selecting)
    {
        <div style="position: absolute;
                    border: 2px dashed blue;
                    background-color: rgba(0, 0, 255, 0.1);
                    left: @(SelectionRect.XMin)px;
                    top: @(SelectionRect.YMin)px;
                    width: @(SelectionRect.Width)px;
                    height: @(SelectionRect.Height)px;
                    pointer-events: none;">
        </div>
    }

    @if (RipplePosition is not null)
    {
        <div class="ripple"
             style="left:@($"{RipplePosition.X}px"); top:@($"{RipplePosition.Y}px");"
             @key="RipplePosition">
        </div>
    }

    @if (ContextMenuPosition is not null && Mode == InteractionMode.ContextMenu)
    {

        <div class="context-menu"
             @onmousedown:stopPropagation="true"
             style="left:@($"{ContextMenuPosition.X}px");
                    top:@($"{ContextMenuPosition.Y}px")">
            <ul>
                <li @onclick="EditStyle">スタイル編集</li>
                <li @onclick="DeleteLayouts">削除</li>
                @*                 <li @onclick="DeleteLayout">複写</li>
 *@            </ul>
        </div>
    }

    @if (pendingTemplate is not null && CurrentDragMode == LayoutDragMode.Registering)
    {
        <div class="ghost-shape"
             style="position:absolute;
                left:@($"{State.RelativeMousePosition.X}px");
                top:@($"{State.RelativeMousePosition.Y}px");
                width:@($"{CurrentSection.WidthPerCell}px");
                height:@($"{CurrentSection.HeightPerCell}px");
                opacity:0.5;
                pointer-events:none;">
            <i class="@pendingTemplate.IconClass"></i>
        </div>
    }
</div>