@namespace BlazorApp.Components
@using BlazorApp.ViewModel
@inherits UILayoutViewBase

<div class="@WrapperClasses.ToString()"
     style="@WrapperStyles.ToString()">
    <a @ref="ElementRef"
           class="@Classes.ToString()"
           style="@Styles.ToString()">
@*         @Model[AttributeType.Text]
 *@        <div class="resize-handle"></div>
    </a>
</div>
