@namespace BlazorApp3.Client.Pages
@page "/UIEngine"
@rendermode InteractiveServer
@using BlazorApp.Components
@using BlazorApp.Service
@using BlazorApp.Components.Layout
@inject DialogService DialogService

<MainLayout>
    <HeaderContent>
        <div class="theme-selector">
            <label class="sticky-label" for="themeSelect">テーマ:</label>
            <label class="selectbox">
                <select id="themeSelect" @bind="SelectedThemeId">
                    @foreach (var theme in Themes)
                    {
                        <option value="@theme.Id">@theme.Name</option>
                    }
                </select>
            </label>
            <button class="button small" @onclick="CreateNewTheme">＋</button>
            <div style="display:flex;">
                <div class="theme-selector">
                    <label class="sticky-label" for="themeSelect">Section:</label>
                    <select class="select" id="sectionSelect" @bind="CurrentSectionNumber">
                        @foreach (var layoutSection in Themes.First(t => t.Id == SelectedThemeId).LayoutSections)
                        {
                            <option value="@layoutSection.Number">@layoutSection.Number</option>
                        }
                    </select>
                    <button class="button small" @onclick="CreateNewSelction">＋</button>
                </div>

                <div class="theme-selector">
                    <div class="theme-selector">
                        <label class="sticky-label" for="overlapModeSelect">重なりモード:</label>
                        <select class="select" id="overlapModeSelect" @bind="OverlapMode">
                            @foreach (var mode in OverlapModes)
                            {
                                <option value="@mode">@mode</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button class="button" @onclick="Save">Save</button>
            <span class="sticky-label">@(IsSelectingMode ? "Selecting" : "Dragging")</span>
            <div class="toggle-switch" style="display:flex;">
                <label>
                    <input type="checkbox" @bind="IsSelectingMode" />
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </HeaderContent>

    <MainContent>
        <div class="section-wrapper" @key="CurrentSection.Id">
            <div class="water-curtain"></div> <!-- 水のカーテン -->
            <InteractionSurface Layouts="@LayoutsBySection[CurrentSection.Id]"
                                SurfaceInteractionMode="SurfaceInteractionMode"
                                OverlapMode="OverlapMode"
                                CurrentSection="CurrentSection"
                                FieldEditDefinitions="FieldEditDefinitions"
                                FieldTypeDefinitions="@FieldTypeDefinitions"
                                OnLayoutAdded="HandleLayoutAdded"
                                OnSave="Save" />

        </div>
    </MainContent>
</MainLayout>
